In [1]:
# get our db url
# create db engine via sqlalchemy

In [14]:
from env import config
from sqlalchemy import create_engine, Column, BigInteger, Date, Integer, String, Boolean
from sqlalchemy.orm import sessionmaker, DeclarativeBase

class Base(DeclarativeBase):
    pass

In [15]:
DATABASE_URL = config("FLIGHT_PRICES_DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [16]:
engine = create_engine(str(DATABASE_URL))

In [5]:
# index 
# flightDate             datetime64[ns]
# startingAirport                object
# destinationAirport             object
# isBasicEconomy                   bool
# isRefundable                     bool
# isNonStop                        bool
# segmentsAirlineName            object
# totalFare                       int64

In [17]:
class FlightPrice(Base):
    __tablename__ = "flight_prices"
    __table_args__ = {"extend_existing": True}
    id = Column("index", BigInteger, primary_key=True)
    flightDate = Column(Date)
    startingAirport = Column(String)
    destinationAirport = Column(String)
    isBasicEconomy = Column(Boolean)
    isRefundable = Column(Boolean)
    isNonStop = Column(Boolean)
    segmentsAirlineName = Column(String)
    totalFare = Column(Integer)

In [7]:
SessionLocal = sessionmaker(bind=engine)
session = SessionLocal()

queryset = session.query(FlightPrice).limit(10).all()
for row_value in queryset:
    print(row_value.id, row_value.flight_date,)

session.close()

0 2022-04-17 00:00:00
1 2022-04-17 00:00:00
2 2022-04-17 00:00:00
3 2022-04-17 00:00:00
4 2022-04-17 00:00:00
5 2022-04-17 00:00:00
6 2022-04-17 00:00:00
7 2022-04-17 00:00:00
8 2022-04-17 00:00:00
9 2022-04-17 00:00:00

In [18]:
from pydantic import BaseModel
from datetime import date

class FlightPriceSchema(BaseModel): # pydantic
    id: int 
    flightDate: date
    startingAirport: str
    destinationAirport: str
    isBasicEconomy: bool
    isRefundable: bool
    isNonStop: bool
    segmentsAirlineName: str
    totalFare: int

    class Config:
        from_attributes = True

In [20]:
SessionLocal = sessionmaker(bind=engine)
session = SessionLocal()

queryset = session.query(FlightPrice).limit(10).all()
for row_value in queryset:
    data = FlightPriceSchema.from_orm(row_value)
    print(data.json(), '\n')

session.close()

{"id":0,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"American Airlines||American Airlines","totalFare":273}

{"id":1,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"Spirit Airlines||Spirit Airlines","totalFare":301}

{"id":2,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"United||United","totalFare":352}

{"id":3,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":true,"segmentsAirlineName":"American Airlines","totalFare":355}

{"id":4,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":true,"segmentsAirlineName":"Delta","totalFare":307}

{"id":5,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":false,"isRefundable":false,"isNonStop":true,"segmentsAirlineName":"JetBlue Airways","totalFare":302}

{"id":6,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"BOS","isBasicEconomy":true,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"United||United","totalFare":307}

{"id":7,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"CLT","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"American Airlines||American Airlines","totalFare":492}

{"id":8,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"CLT","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"JetBlue Airways||JetBlue Airways","totalFare":543}

{"id":9,"flightDate":"2022-04-17","startingAirport":"ATL","destinationAirport":"CLT","isBasicEconomy":false,"isRefundable":false,"isNonStop":false,"segmentsAirlineName":"United||United","totalFare":467}

/var/folders/kq/g48dx7_936q4zkrtx9f_p7z00000gp/T/ipykernel_6130/505938574.py:6: PydanticDeprecatedSince20: The `from_orm` method is deprecated; set `model_config['from_attributes']=True` and use `model_validate` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.3/migration/
  data = FlightPriceSchema.from_orm(row_value)
/var/folders/kq/g48dx7_936q4zkrtx9f_p7z00000gp/T/ipykernel_6130/505938574.py:7: PydanticDeprecatedSince20: The `json` method is deprecated; use `model_dump_json` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.3/migration/
  print(data.json(), '\n')