In [1]:
# get our db url
# create db engine via sqlalchemy

In [2]:
from env import config, BASE_DIR
from sqlalchemy import create_engine, text

In [3]:
DATABASE_URL = config("FLIGHT_PRICES_DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [4]:
engine = create_engine(str(DATABASE_URL))

In [5]:
DATASET_DIR = BASE_DIR / "datasets"
DATASET_DIR.exists()

True

In [6]:
FLIGHT_PRICES_CSV = DATASET_DIR / "itineraries-min-50k.csv"
FLIGHT_PRICES_CSV.exists()

True

In [7]:
import pandas as pd # dask

In [8]:
df = pd.read_csv(str(FLIGHT_PRICES_CSV))
df.head(n=10)

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0.0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0.0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0.0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0.0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0.0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach
5,79eda9f841e226a1e2121d74211e595c,2022-04-16,2022-04-17,ATL,BOS,VH0AUEL1,PT2H38M,0.0,False,False,...,1650216180,2022-04-17T13:23:00.000-04:00,BOS,ATL,JetBlue Airways,B6,NaN,9480,947,coach
6,9335fae376c38bb61263281779f469ec,2022-04-16,2022-04-17,ATL,BOS,V0AJZNN1,PT4H12M,0.0,False,False,...,1650203400||1650213120,2022-04-17T09:50:00.000-04:00||2022-04-17T12:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A320||Airbus A320,5400||7500,228||728,coach||coach
7,3904bf87f2d1daf334f1ae7e3b876028,2022-04-16,2022-04-17,ATL,BOS,V0AJZNN1,PT5H18M,0.0,False,False,...,1650203400||1650217080,2022-04-17T09:50:00.000-04:00||2022-04-17T13:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A320||Boeing 737-800,5400||8280,228||728,coach||coach
8,d93988734c44a3c075d9efe373352507,2022-04-16,2022-04-17,ATL,BOS,V0AJZNN1,PT5H32M,0.0,False,False,...,1650198060||1650213120,2022-04-17T08:21:00.000-04:00||2022-04-17T12:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A319||Airbus A320,4860||7500,228||728,coach||coach
9,562e7d5dd6ecbf1509c0c19711dbdca9,2022-04-16,2022-04-17,ATL,BOS,V0AJZNN1,PT6H38M,0.0,False,False,...,1650198060||1650217080,2022-04-17T08:21:00.000-04:00||2022-04-17T13:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A319||Boeing 737-800,4860||8280,228||728,coach||coach

In [9]:
df.dtypes

legId                                 object
searchDate                            object
flightDate                            object
startingAirport                       object
destinationAirport                    object
fareBasisCode                         object
travelDuration                        object
elapsedDays                          float64
isBasicEconomy                          bool
isRefundable                            bool
isNonStop                               bool
baseFare                             float64
totalFare                            float64
seatsRemaining                       float64
totalTravelDistance                  float64
segmentsDepartureTimeEpochSeconds     object
segmentsDepartureTimeRaw              object
segmentsArrivalTimeEpochSeconds       object
segmentsArrivalTimeRaw                object
segmentsArrivalAirportCode            object
segmentsDepartureAirportCode          object
segmentsAirlineName                   object
segmentsAirlineCode                   object
segmentsEquipmentDescription          object
segmentsDurationInSeconds             object
segmentsDistance                      object
segmentsCabinCode                     object
dtype: object

In [9]:
# df['date'] = pd.to_datetime(df['saledate'], format="%d/%m/%Y")

In [12]:
# df['price'] = df['MA']

In [13]:
# df.dtypes

saledate            object
MA                   int64
type                object
bedrooms             int64
date        datetime64[ns]
price                int64
dtype: object

In [11]:
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0.0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0.0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0.0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0.0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0.0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [12]:
out_df = df.copy() # [['date', 'price', 'type', 'bedrooms']]

In [13]:
table_name = "flight_prices"
out_df.to_sql(table_name, engine, if_exists='replace', index=False)

50000

In [14]:
rows, cols = df.shape
rows, cols

(50000, 27)

In [15]:
with engine.connect() as conn:
    results = conn.execute(text(f"SELECT * from {table_name} LIMIT 10"))
    print(results.all())

[('9ca0e81111c683bec1012473feefd28f', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H29M', 0.0, 0, 0, 1, 217.67, 248.6, 9.0, 947.0, '1650214620', '2022-04-17T12:57:00.000-04:00', '1650223560', '2022-04-17T15:26:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '8940', '947', 'coach'), ('98685953630e772a098941b71906592b', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0.0, 0, 0, 1, 217.67, 248.6, 4.0, 947.0, '1650191400', '2022-04-17T06:30:00.000-04:00', '1650200400', '2022-04-17T09:00:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '9000', '947', 'coach'), ('98d90cbc32bfbb05c2fc32897c7c1087', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0.0, 0, 0, 1, 217.67, 248.6, 9.0, 947.0, '1650209700', '2022-04-17T11:35:00.000-04:00', '1650218700', '2022-04-17T14:05:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Boeing 757-200', '9000', '947', 'coach'), ('969a269d38eae583f455486fa90877b4', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H32M', 0.0, 0, 0, 1, 217.67, 248.6, 8.0, 947.0, '1650218340', '2022-04-17T13:59:00.000-04:00', '1650227460', '2022-04-17T16:31:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '9120', '947', 'coach'), ('980370cf27c89b40d2833a1d5afc9751', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H34M', 0.0, 0, 0, 1, 217.67, 248.6, 9.0, 947.0, '1650203940', '2022-04-17T09:59:00.000-04:00', '1650213180', '2022-04-17T12:33:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '9240', '947', 'coach'), ('79eda9f841e226a1e2121d74211e595c', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'VH0AUEL1', 'PT2H38M', 0.0, 0, 0, 1, 217.67, 248.6, 7.0, 947.0, '1650206700', '2022-04-17T10:45:00.000-04:00', '1650216180', '2022-04-17T13:23:00.000-04:00', 'BOS', 'ATL', 'JetBlue Airways', 'B6', None, '9480', '947', 'coach'), ('9335fae376c38bb61263281779f469ec', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT4H12M', 0.0, 0, 0, 0, 213.02, 251.1, 3.0, 956.0, '1650198000||1650205620', '2022-04-17T08:20:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650203400||1650213120', '2022-04-17T09:50:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Airbus A320', '5400||7500', '228||728', 'coach||coach'), ('3904bf87f2d1daf334f1ae7e3b876028', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H18M', 0.0, 0, 0, 0, 213.02, 251.1, 3.0, 956.0, '1650198000||1650208800', '2022-04-17T08:20:00.000-04:00||2022-04-17T11:20:00.000-04:00', '1650203400||1650217080', '2022-04-17T09:50:00.000-04:00||2022-04-17T13:38:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Boeing 737-800', '5400||8280', '228||728', 'coach||coach'), ('d93988734c44a3c075d9efe373352507', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H32M', 0.0, 0, 0, 0, 213.02, 251.1, 7.0, 956.0, '1650193200||1650205620', '2022-04-17T07:00:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650198060||1650213120', '2022-04-17T08:21:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A319||Airbus A320', '4860||7500', '228||728', 'coach||coach'), ('562e7d5dd6ecbf1509c0c19711dbdca9', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT6H38M', 0.0, 0, 0, 0, 213.02, 251.1, 7.0, 956.0, '1650193200||1650208800', '2022-04-17T07:00:00.000-04:00||2022-04-17T11:20:00.000-04:00', '1650198060||1650217080', '2022-04-17T08:21:00.000-04:00||2022-04-17T13:38:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A319||Boeing 737-800', '4860||8280', '228||728', 'coach||coach')]